@{
    ViewBag.Title = "Ocurrio un error inesperado";
}
@section Head {
    <meta name="googlebot" content="noindex">
}

<div class="page-header remove-margin-top">
    <h1 class="post-title">@ViewBag.Tipo</h1>
</div>

<p>
    @Html.Raw(ViewBag.Detalle)
</p>
